body{
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(196, 195, 195);
}

.full-bg{
  width: 99vw;
  height: 96vh;
  background: rgba(20, 20, 20, 0.664);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);  
  display: flex;
  align-items: end;
}

.main-div{
  width: 65%;
}  

.num-btn{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 2px;
  column-gap: 2px;
  padding-top: 30px;
}

button{
  height: 105px;
  font-size: 25px;
  font-weight: 500;
  border: none;
  color: rgb(212, 212, 212);
}

button:hover{
  background-color: rgba(129, 129, 129, 0.89);
}

.butn{
  background: rgba(54, 54, 54, 0.527);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);  
}
.number-btn{
  background-color: rgba(0, 0, 0, 0.692);
}

#answer{
  height: 60px;
  /* background-color: aqua; */
  font-size: 75px;
  font-weight: 700;
}

#display{
  height: 45px;
  font-size: 30px;
}

#answer, #display{
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 5px 20px; 
  color: #e2e2e2;
}

.history{
  width: 35%;
  height: 100%;
  padding: 5px 5px 5px 20px;
}

.top-n p{
  color: #e2e2e2;
  font-weight: 600;
}