body{
  font-family: Arial, Helvetica, sans-serif;
  background: #c4c3c3;
}

.full-bg{
  width: 99vw;
  height: 96vh;
  background: #141414a9;
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);  
  display: flex;
  align-items: end;
}

.main-div{
  width: 83%;
}  

.num-btn{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 2px;
  column-gap: 2px;
  padding-top: 30px;
}

button{
  height: 105px;
  font-size: 25px;
  font-weight: 500;
  border: none;
  color: rgb(212, 212, 212);
}

button:hover{
  background-color: #818181e3;
}

.butn{
  background: #36363686;
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);  
}
.number-btn{
  background-color: #000000b0;
}

#answer{
  height: 60px;
  /* background-color: aqua; */
  font-size: 75px;
  font-weight: 700;
}

#display{
  height: 45px;
  font-size: 30px;
}

#answer, #display{
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 5px 20px; 
  color: #e2e2e2;
}

.history{
  width: 17%;
  height: 100%;
  padding: 5px 5px 5px 20px;
  position: relative;
  overflow: auto;
}

.top-n p{
  color: #e2e2e2;
  font-weight: 600;
}

.top-n{
position: fixed;
top: 0;
width: 16%;
height: 40px ;
background-color: #535353a9;;
}

#hisDis{
  padding: 30px 10px 0 5px;
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  align-items: end;
  justify-content: center;
  color: #b3b3b3;
}

span{
  float: right;
  padding: 2px;
  color: #e2e2e2;
  font-size: 20px;
}